

.Feedback{
    width: 100%;
    height: auto;
    padding: 50px 0 0 0;
    text-align: center;
    margin: 0;
}
.Feedback h1{
    font-size: 45px;
    font-family:"papyrus";
    color:#a54f5d;
    font-weight:bold;
    padding-bottom: 10px;
    border-bottom: 3px solid #a54f5d;
    display: inline-block;
} 
.Feedback p{
    font-size: 18px;
    font-family:"cautex";
    color: rgba(0,0,0,0.6);
    padding-bottom: 15px;
}
.feedback-background{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('images/backs.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.center-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center-heading p{
    font-size: 30px;
    font-family:"cautex";
    color: #fff;

}
.center-heading a{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 25px;
    transition: 0.5s;
    background-color: #a54f5d;
}
.center-heading a:hover{
    background-color: #7c4a21;
}

.footer{
    width: 100%;
    height: auto;
    background-color: #713640;
    text-align: center;
    padding: 40px 0;
}
.footer h3{
    font-family:"papyrus";
    text-align: center;
    font-size: 35px;
    font-weight:15px;
    border-bottom: 4px solid #ffffff;
    display: inline-block;
    margin-bottom: 30px;
    color:#ffffff;
    
}
.footer p{
    font-size: 15px;
    color: #ffffff;
    font-weight: lighter;
    padding: 1px 1px;
}
.footer i{
    padding: 10px;
    font-size: 22px;
    color: #ffffff;
    transition: 0.6s;
}
.footer i:hover{
    color: #7c4a21;
}

.Copyright h4{
    font-size: 18px;
    line-height: 100px;
    color:#ffffff;
}
#Name{
    color: #ffffff;
    font-weight: bold;
}
#last-logo{
    font-size: 30px;
    font-style: italic;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
}
